.modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: rgba(0,0,0,0.45);
  backdrop-filter: blur(2px);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal.show {
  display: flex;
}
